@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    // private string _deviceToken = "";
    // protected override async Task OnInitializedAsync()
    // {
    //     if (Preferences.ContainsKey("DeviceToken"))
    //     {
    //         _deviceToken = Preferences.Get("DeviceToken", "");
    //     }
    // }
}
